# HTML5 and build programmer guide objects
docs
site
print
ProgrammersGuide.epub
ProgrammersGuide.pdf

# Generated
ProgrammerGuideGame/cocos2d

# Mac system files
.DS_Store
.AppleDouble
.LSOverride
ProgrammerGuideGame/proj.ios_mac/ProgrammerGuideGame.xcodeproj/project.xcworkspace
ProgrammerGuideGame/proj.ios_mac/ProgrammerGuideGame.xcodeproj/xcuserdata

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
