html {
}
body {
  background-color: #fdf6e3;
  margin-left: 45px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-family: Georgia, Palatino, serif;
  color: #444444;
  line-height: 1.2; /*Jason was 1 */
  max-width: 960px;
  padding: 30px; /* Jason was 30 */
}
code {
  background-color: #eee8d5;
  padding: 2px;
}

#wrap {
  width:960px;
  height: 100%;
  /*margin:0 auto; */
}

#preview_col {
  float:left;
  width:35px;
  padding-top:30px;
  padding-right:30px;
}
#left_col {
  float:left;
  width:250px;
}
#right_col {
  float:right;
  width:640px; /* Jason was 650 */
  height:100%;
}
a {
    color: #b58900;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #cb4b16;
}
a:visited {
    color: #cb4b16;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
li {
    line-height: 24px;
    list-style-type: none;
}
li ul, li ul {
    height: 1%;
    list-style-type: none;
    margin-left: 24px;
    display: block;
    padding: 5px 10px;
    color: #59503e;
    text-decoration: none;
    font-weight: bold;
}
