<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemyjump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{120,162}}</string>
                <key>sourceSize</key>
                <string>{148,162}</string>
            </dict>
            <key>enemymove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{123,156}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{123,156}}</string>
                <key>sourceSize</key>
                <string>{131,162}</string>
            </dict>
            <key>enemymove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{129,154}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,154}}</string>
                <key>sourceSize</key>
                <string>{131,162}</string>
            </dict>
            <key>enemymove3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,123},{125,158}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{125,158}}</string>
                <key>sourceSize</key>
                <string>{131,162}</string>
            </dict>
            <key>enemymove4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{121,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{121,160}}</string>
                <key>sourceSize</key>
                <string>{131,162}</string>
            </dict>
            <key>enemymove5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{119,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{119,162}}</string>
                <key>sourceSize</key>
                <string>{131,162}</string>
            </dict>
            <key>enemystand.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,133},{119,158}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{119,158}}</string>
                <key>sourceSize</key>
                <string>{131,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.pvr.ccz</string>
            <key>size</key>
            <string>{609,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ef36a4e211fc07ebf33af7b12d5ca59:4505079cd06e0fb8e1c49e6881d0627c:1e5745c419f2294ee1fd63db928bc6b0$</string>
            <key>textureFileName</key>
            <string>enemy.pvr.ccz</string>
        </dict>
    </dict>
</plist>
